<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="nav-sm"><span><img  src="../../assets/images/tcd.png" height=30 width=100></span></mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active"> Home<span class="flex-spacer"></span> <span class="fa fa-home"></span></a>
        <a mat-list-item routerLink="/aboutus" routerLinkActive="active"> About<span class="flex-spacer"> </span><span class="fa fa-info"></span></a>
        <a mat-list-item routerLink="/menu" routerLinkActive="active"> Menu<span class="flex-spacer"></span> <span class="fa fa-list"></span></a>
        <a mat-list-item routerLink="/contactus" routerLinkActive="active"> Contact<span class="flex-spacer"></span> <span class="fa fa-address-card"></span></a>
        <span class="flex-spacer"></span>
        <a mat-list-item (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"> Login</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxShow="true" fxHide.lt-md="true">
      <!-- <span><img  src="/assets/images/favicon.png" height=20 width=20></span> -->
      <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home"></span> Home</a>
      <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa fa-info"></span> About</a>
      <a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa fa-list"></span> Menu</a>
      <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card"></span> Contact</a>
      <span class="flex-spacer"></span>
      <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"> Login</span></a>
    </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
